*{
    box-sizing: border-box;
}
body{
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 13px;
}
h5, p{
    margin: 0;
}

h1, h2, h5{
    font-weight: 800;
}
.wrapper__content{
    width: 90%;
    margin-left: 10%;
    padding: 30px;
    background: #F5F5F7;
    
}

.starts__boxes{
    padding-bottom: 30px;
    @include flex(row, space-between, center);
    font-size: 16px;
    &-item{
        @include flex(row, space-around, center);
        width: 45%;
        padding: 30px;
   }
   .big_numbers{
       font-size: 64px;
       font-weight: 800;
   }
}
