$background-color: #e1e1e4;

$icon-course:(
    spanish: '../src/icon/spanish.png',
    figma: '../src/icon/figma.png',
    camera: '../src/icon/camera.png',
    instagram: '../src/icon/instagram.png',
    pencil: '../src/icon/pencil.png',
    photoshop: '../src/icon/photoshop.png',
);
