.course{
    padding-bottom: 40px;
    &__container-flex{
        @include flex(row, space-between, center);
    }
    &__button{
        width: 120px;
        height: 40px;
    }
    &__image{
        width: 32px;
        height: 32px;
    }
    &__name{
        width: 40%;
        @include flex(row, flex-start, center);
    }
    &__text{
        padding-left: 24px;
    }
}
.type__course{
    @include flex(row, space-between, center);
}
.bg__grey{
    border-radius: 14px;
    background-color: $background-color;
}
.courses .course{
    padding-bottom: 16px;
}

.wrapper__image{
    background-color: white;
    border-radius: 10px;
    padding: 16px;
    width: 64px;
    height: 64px;
}

.course{
    @each $icon, $value in $icon-course{
        &--#{$icon} {
          background-image: url($value);
          background-size: 32px;
          background-repeat: no-repeat;
          background-position: center;
        }
    }
}

.button{
    @include flex(row, center, center);
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
    &-black{
        background-color: black;
        color: white;
    }
    &__view{
        color: black;
        background-color: $background-color;
        border: 2px solid #0C0B0B;
        font-size: 13px;
    }
}

.fa__circle{
    font-size: 40px;
    color: black;
    &:nth-child(2){
        margin-left: 16px;
    }
}

.list-item--courses{
    @include list-item;
    &:hover{
        color: black;
    }
}

